name: Module 5 CI - Security & Compliance

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./module_5

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Install System Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y graphviz

    - name: Install Python Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install .

    # 1. Run Pylint (Fail if under 10)
    - name: Run Pylint
      run: pylint src/ --rcfile = .pylintrc --fail-under=10

    # 2. Generate Dependency Graph (Fail if missing)
    - name: Generate Dependency Graph
      run: |
        pydeps src/ --noshow -T svg -o dependency.svg
        if [ ! -f dependency.svg ]; then echo "dependency.svg missing"; exit 1; f

    # 3. Run Snyk Test
    - name: Run Snyk Test
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      run: snyk test --severity-threshold=high
